@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }

}

body {
  background-color: rgb(62, 68, 85);
  margin: 0;

}

.Posterimage {
  margin: 0px;
  width: 11.73vw;
}

.username {

  white-space: nowrap;
  font-size: 1.11vw;

}

.username img {
  float: right;
  width: 5vh;
  height: 5vh;
}
.username a {

  padding-right: 0.24vw;
  padding-left: 0;
}
#navbar {
  width: 90vw;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline-block;
  position: -webkit-sticky;
  height: 5vh;
  position: sticky;
  top: 0;
  max-width: 100%;

}

#loginbar {
  width: 10vw;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline-block;
  position: -webkit-sticky;
  height: 5vh;
  position: sticky;
  top: 0;
  max-width: 100%;

}



li a {
  font-family: "Inter";
  font-size: 1.5vh;
  float: left;
  display: block;
  color: white;
  text-align: start;
  padding-right: 1.33vw;
  padding-left: 1.33vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  text-decoration: none;
  width: fit-content;
  height: 2vh;
  opacity: 50;
}

ul button {
  width: 10vw;
  background-color: inherit;
  border: none;
  outline: none;
}

ul li button img {

  width: 5vh;
  height: 5vh;
  display: block;
  float: right;
  margin-right: -0.2vw;
}

ul li button p {
  overflow: hidden;
  text-overflow: ".";
  font-size: 1.5vh;
  float: left;
  display: block;
  color: white;
  text-align: start;
  padding-right: 0vh;
  padding-left: 1.5vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  text-decoration: none;
  width: 6vw;
  height: 2vh;
  margin: 0;
}

.b {
  float: left;

}

li a:hover {
  background-color: rgb(248, 149, 0);

}

li a.activated {
  background-color: rgb(0, 218, 83)
}